<!DOCTYPE html>
<html lang="en" ng-app="index">
	<head>
		<base href="/">
		<meta charset="utf-8">
		<!-- Title here -->
		<title >Louisa Coffee</title>
		<!-- Description, Keywords and Author -->
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your,Keywords">
		<meta name="author" content="ResponsiveWebInc">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
		<link href="css/settings.css" rel="stylesheet">		
		<!-- FlexSlider Css -->
		<link rel="stylesheet" href="css/flexslider.css" media="screen" />
		<!-- Portfolio CSS -->
		<link href="css/prettyPhoto.css" rel="stylesheet">
		<!-- Font awesome CSS -->
		<link href="css/font-awesome.min.css" rel="stylesheet">	
		<!-- Custom Less -->
		<link href="css/less-style.css" rel="stylesheet">	
		<!-- Custom CSS -->
		<link href="css/style.css" rel="stylesheet">
		<!--[if IE]><link rel="stylesheet" href="css/ie-style.css"><![endif]-->
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="#">
	</head>
	
	<body>
		<!-- Shopping cart Modal -->
		<div class="modal fade" id="shoppingcart1" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Shopping Cart</h4>
					</div>
					<div class="modal-body">
						<!-- Items table -->
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Name</th>
									<th>Quantity</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#">Exception Reins Evocative</a></td>
									<td>2</td>
									<td>$200</td>
								</tr>
								<tr>
									<td><a href="#">Taut Mayoress Alias Appendicitis</a></td>
									<td>1</td>
									<td>$190</td>
								</tr>
								<tr>
									<td><a href="#">Sinter et Molests Perfectionist</a></td>
									<td>4</td>
									<td>$99</td>
								</tr>
								<tr>
									<th></th>
									<th>Total</th>
									<th>$489</th>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Continue Shopping</button>
						<button type="button" class="btn btn-info">Checkout</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<!-- Model End -->
		
		<!-- Page Wrapper -->
		<div class="wrapper">
		
			<!-- Header Start -->
			
			<div class="header">
				<div class="container">
					<!-- Header top area content -->
					<div class="header-top">
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<!-- Header top left content contact -->
								<div class="header-contact">
									<!-- Contact number -->
									<span><i class="fa fa-phone red"></i> 02-2766-6672</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<!-- Header top right content search box -->
								<div class=" header-search">
									<form class="form" role="form">
										<div class="input-group">
										  <input type="text" class="form-control" placeholder="Search...">
										  <span class="input-group-btn">
											<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
										  </span>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="pull-right">
								<a href="login.php" class="btn btn-danger btn-sm" >會員登入</a>
								</div>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-5">
							<!-- Link -->
							<a href="/">
								<!-- Logo area -->
								<div class="logo">
									<img class="img-responsive" src="img/logo.jpg" alt="" />
									<!-- Heading -->
									<h1>Louisa Coffee </h1>
									<!-- Paragraph -->
									<h3>永春概念店</h3>
								</div>
							</a>
						</div>
						<div class="col-md-8 col-sm-7">
							<!-- Navigation -->
							<nav class="navbar navbar-default navbar-right" role="navigation">
								<div class="container-fluid">
									<!-- Brand and toggle get grouped for better mobile display -->
									<div class="navbar-header">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>

									<!-- Collect the nav links, forms, and other content for toggling -->
									<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										<ul class="nav navbar-nav">
											<li><a href="/"><img src="img/nav-menu/slider4.jpg" class="img-responsive" alt="" /> Home</a></li>
											<li class="dropdown hidden-xs">
												<a href="menu"><img src="img/nav-menu/slider5.jpg" class="img-responsive" alt="" /> Menu </a>
												
											</li>
											
											
											<li><a href="aboutus.html"><img src="img/nav-menu/slider7.jpg" class="img-responsive" alt="" /> About</a></li>
										</ul>
									</div><!-- /.navbar-collapse -->
								</div><!-- /.container-fluid -->
							</nav>
						</div>
					</div>
				</div> <!-- / .container -->
			</div>
			
			<!-- Header End -->
			<!-- Main Content Start -->
				<div class="tp-banner-container">
				<div class="tp-banner" >

					<ul>	<!-- SLIDE  -->
						
						<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
							<!-- MAIN IMAGE -->
							<img src="img/slider/slider1.jpg"  alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />
						</li>	
				



						<li>
							<!-- MAIN IMAGE -->
							<img src="img/slider/slider3.jpg"  alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat"/>
							<!-- LAYERS NR. 1 -->
							<div class="tp-caption lfl"
								data-x="left"
								data-y="100"
								data-speed="800"
								data-start="1200"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Linear.easeNone"
								data-captionhidden="off"><img class="img-responsive" src="img/slider/s35.png" alt="" />
							</div>
							<!-- LAYERS NR. 2 -->
							<div class="tp-caption lfr large_bold_grey heading white"
								data-x="right" data-hoffset="-10"
								data-y="120"
								data-speed="800"
								data-start="2000"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Linear.easeNone"
								data-captionhidden="off">Tasty Yammi
							</div>
							<!-- LAYER NR. 3 -->
							<div class="tp-caption whitedivider3px customin customout tp-resizeme"
								data-x="right" data-hoffset="-20"
								data-y="210" data-voffset="0"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="700"
								data-start="2300"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
							</div>
							<!-- LAYER NR. 4 -->
							<div class="tp-caption finewide_medium_white randomrotate customout tp-resizeme"
								data-x="right" data-hoffset="-10"
								data-y="245" data-voffset="0"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="1000"
								data-start="2700"
								data-easing="Power3.easeInOut"
								data-splitin="chars"
								data-splitout="chars"
								data-elementdelay="0.08"
								data-endelementdelay="0.08"
								data-endspeed="500"
								style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">Hamburger
							</div>
							<!-- LAYER NR. 5 -->
							<div class="tp-caption finewide_verysmall_white_mw white customin customout tp-resizeme text-right paragraph"
								data-x="right" data-hoffset="-10"
								data-y="300" 
								data-customin="x:0;y:50;z:0;rotationX:-120;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 0%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="1000"
								data-start="3500"
								data-easing="Power3.easeInOut"
								data-splitin="lines"
								data-splitout="lines"
								data-elementdelay="0.2"
								data-endelementdelay="0.08"
								data-endspeed="300"
								style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">Lorem ipsum dolor sit amet, consetetur  sadipscing elitr,<br/> nonumy voluptu ansetetur  sadipscing elit. <br/> sed diam quisquam est nonumy voluptu vero eos et.
							</div>
						</li>
						
					</ul>
					<!-- Banner Timer -->
					<div class="tp-bannertimer"></div>
				</div>
			</div>
			<!-- Slider End -->
			
			
			
			<!-- Main Content -->
			<div class="main-content">
			
				<!-- Showcase Start -->
				
				<div class="showcase">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<!-- Showcase section item -->
								<div class="showcase-item">
									<!-- Image -->
									<img class="img-responsive" src="img/burnch4.png" alt="" />
									<!-- Heading -->
									<h3><a href="#">系列1</a></h3>
									<!-- Paragraph -->
									<p>中杯拿鐵+全麥蔬菜三明治<br>只要55元</p>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<!-- Showcase section item -->
								<div class="showcase-item">
									<!-- Image -->
									<img class="img-responsive" src="img/brunch3.png" alt="" />
									<!-- Heading -->
									<h3><a href="#">系列2</a></h3>
									<!-- Paragraph -->
									<p>中杯美式黑咖啡+蔬菜貝果<br>只要65元</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Showcase End -->
				
				<!-- Dishes Start -->
					
				<div class="dishes padd">
					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">
							<!-- Crown image -->
							<img class="img-responsive" src="img/crown.png" alt="" />
							<!-- Heading -->
							<h2>輕食早午餐</h2>
							<!-- Paragraph -->
							<p>輕食早午餐 新登場!<br>全麥、湯種吐司+蔬菜、鮪魚、燻雞<br>只要45元起</p>
							<!-- Border -->
							<div class="border"></div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-6">	
								<div class="dishes-item-container">
									<!-- Image Frame -->
									<div class="img-frame">
										<!-- Image -->
										<img src="img/dish/dish5.jpg" class="img-responsive" alt="" />
										<!-- Block for on hover effect to image -->
										<div class="img-frame-hover">
											<!-- Hover Icon -->
											<a href="#"><i class="fa fa-cutlery"></i></a>
										</div>
									</div>
									<!-- Dish Details -->
									<div class="dish-details">
										<!-- Heading -->
										<h3>Delicious Chinese</h3>
										<!-- Paragraph -->
										<p>At vero eos et accusal gusto for ides residuum lores.</p>
										<!-- Button -->
										<a href="#" class="btn btn-danger btn-sm">Read more</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="dishes-item-container">
									<!-- Image Frame -->
									<div class="img-frame">
										<!-- Image -->
										<img src="img/dish/dish6.jpg" class="img-responsive" alt="" />
										<!-- Block for on hover effect to image -->
										<div class="img-frame-hover">
											<!-- Hover Icon -->
											<a href="#"><i class="fa fa-cutlery"></i></a>
										</div>
									</div>
									<!-- Dish Details -->
									<div class="dish-details">
										<!-- Heading -->
										<h3>Spicy Onion Rings</h3>
										<!-- Paragraph -->
										<p>At vero eos et accusal gusto for ides residuum lores.</p>
										<!-- Button -->
										<a href="#" class="btn btn-danger btn-sm">Read more</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="dishes-item-container">
									<!-- Image Frame -->
									<div class="img-frame">
										<!-- Image -->
										<img src="img/dish/dish7.jpg" class="img-responsive" alt="" />
										<!-- Block for on hover effect to image -->
										<div class="img-frame-hover">
											<!-- Hover Icon -->
											<a href="#"><i class="fa fa-cutlery"></i></a>
										</div>
									</div>
									<!-- Dish Details -->
									<div class="dish-details">
										<!-- Heading -->
										<h3>Cream Cheese Cup</h3>
										<!-- Paragraph -->
										<p>At vero eos et accusal gusto for ides residuum lores.</p>
										<!-- Button -->
										<a href="#" class="btn btn-danger btn-sm">Read more</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="dishes-item-container">
									<!-- Image Frame -->
									<div class="img-frame">
										<!-- Image -->
										<img src="img/dish/dish8.jpg" class="img-responsive" alt="" />
										<!-- Block for on hover effect to image -->
										<div class="img-frame-hover">
											<!-- Hover Icon -->
											<a href="#"><i class="fa fa-cutlery"></i></a>
										</div>
									</div>
									<!-- Dish Details -->
									<div class="dish-details">
										<!-- Heading -->
										<h3>Spicy Cheese Pizza</h3>
										<!-- Paragraph -->
										<p>At vero eos et accusal gusto for ides residuum lores.</p>
										<!-- Button -->
										<a href="#" class="btn btn-danger btn-sm">Read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>					
				</div>
				
				<!-- Dishes End -->
				
				
			</div>	
			<!-- Main Con
			tent End-- >				
			<!-- Footer Start -->
			
			<div class="footer padd">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<!-- Footer widget -->
							<div class="footer-widget">
								<!-- Logo area -->
								<div class="logo">
									<img class="img-responsive" src="img/logo.jpg" alt="" />
									<!-- Heading -->
									<h1>Louisa Coffee</h1>
								</div>
								<!-- Paragraph -->
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								
								<!-- Heading -->
							</div> <!--/ Footer widget end -->
						</div>
						
						<div class="clearfix visible-sm"></div>
						
						<div class="col-md-3 col-sm-6">
							<!-- Footer widget -->
							<div class="footer-widget">
								<!-- Heading -->
								<h4>Contact Us</h4>
								<div class="contact-details">
									<!-- Address / Icon -->
									<i class="fa fa-map-marker br-red"></i> <span>板南線永春捷運站1號出口左轉永吉路326巷<br /><永吉公園旁></span>
									<div class="clearfix"></div>
									<!-- Contact Number / Icon -->
									<i class="fa fa-phone br-green"></i> <span>02-2766-6672</span>
									<div class="clearfix"></div>
									<!-- Email / Icon -->
									<i class="fa fa-envelope-o br-lblue"></i> <span><a href="#">週一 - 週六: 7:00 - 21:00<br/>週日: 8:00 - 21:00</a></span>
									<div class="clearfix"></div>
								</div>
								<!-- Social media icon -->
								<div class="social">
									<a href="https://www.facebook.com/pages/%E8%B7%AF%E6%98%93%E8%8E%8E%E5%92%96%E5%95%A1-%E6%B0%B8%E6%98%A5%E6%A6%82%E5%BF%B5%E5%BA%97/828496723861055?sk=timeline" class="facebook"><i class="fa fa-facebook"></i></a>
									
								</div>
							</div> <!--/ Footer widget end -->
						</div>
					</div>
					<!-- Copyright -->
					<div class="footer-copyright">
						<!-- Paragraph -->
						<p>&copy; Copyright 2014 <a href="#">Louisa coffee 永春概念店</a></p>
					</div>
				</div>
			</div>
			
			<!-- Footer End -->
			
		</div><!-- / Wrapper End -->
		
		
		<!-- Scroll to top -->
		<span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span> 
		
		
		
		<!-- Javascript files -->
		<!-- jQuery -->
		<script src="js/jquery.js"></script>
		<!-- Bootstrap JS -->
		<script src="js/bootstrap.min.js"></script>
		<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
		<script type="text/javascript" src="js/jquery.themepunch.plugins.min.js"></script>
		<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
		<!-- FLEX SLIDER SCRIPTS  -->
		<script defer src="js/jquery.flexslider-min.js"></script>
		<!-- Pretty Photo JS -->
		<script src="js/jquery.prettyPhoto.js"></script>
		<!-- Respond JS for IE8 -->
		<script src="js/respond.min.js"></script>
		<!-- HTML5 Support for IE -->
		<script src="js/html5shiv.js"></script>
		<!-- Custom JS -->
		<script src="js/custom.js"></script>
		<!-- JS code for this page -->
		<script>
		/* ******************************************** */
		/*  JS for SLIDER REVOLUTION  */
		/* ******************************************** */
				jQuery(document).ready(function() {
					   jQuery('.tp-banner').revolution(
						{
							delay:9000,
							startheight:500,
							
							hideThumbs:10,
							
							navigationType:"bullet",	
														
							hideArrowsOnMobile:"on",
							
							touchenabled:"on",
							onHoverStop:"on",
							
							navOffsetHorizontal:0,
							navOffsetVertical:20,
							
							stopAtSlide:-1,
							stopAfterLoops:-1,

							shadow:0,
							
							fullWidth:"on",
							fullScreen:"off"
						});
				});
		/* ******************************************** */
		/*  JS for FlexSlider  */
		/* ******************************************** */
		
			$(window).load(function(){
				$('.flexslider-recent').flexslider({
					animation:		"fade",
					animationSpeed:	1000,
					controlNav:		true,
					directionNav:	false
				});
				$('.flexslider-testimonial').flexslider({
					animation: 		"fade",
					slideshowSpeed:	5000,
					animationSpeed:	1000,
					controlNav:		true,
					directionNav:	false
				});
			});
		
		/* Gallery */

		jQuery(".gallery-img-link").prettyPhoto({
		   overlay_gallery: false, social_tools: false
		});
		
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"> </script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.min.js"></script>
		<script src="router.js"></script>
	</body>	
</html>