			<!-- Inner Content -->
			<div class="inner-page padd" ng-controller="menuCtrl">
			
				
				<!-- Checkout Start -->
				
				<div class="checkout">
					<div class="container">
						<div class="row">

						<!-- user profile start -->
						<div class="col-md-3">
							<div class="profile">
								<div class="containers well">
									<div class="row">
								        <div class="profile-image" >
										    <img class ="img-circle" src="img/admin1.jpg" style="width:140px; height:140px">
								        </div>
								        
								        <div class="profile">
								            <h3>簡玲珊</h3>
								            <h6>Email: MyEmail@servidor.com</h6>
								            <h6>管理員權限</h6>
								            <h6>Old: 1 Year</h6>
								            <h6><a href="#">More... </a></h6>
								        </div>
									</div>
								</div>
							</div>
						</div>
						<!-- user profile end -->

							<div class="col-md-9 col-sm-6">
							
							<h4>菜單品項
							<i class="fa fa-pencil update" ng-class="{'red':editing}" ng-model="editing" ng-click="changeEditMode()"></i>
							<span class="glyphicon glyphicon-plus addPlus" aria-hidden="true" ng-show="editing" ng-click="open()"></span>
							<button class="btn btn-default pull-right" type="button" ng-show="editing" ng-click="changeEditMode()">完成</button>
							</h4>
								
							<div class="shopping-content">
								<div class="row">
									<div class="col-md-3 col-sm-6" ng-repeat="singleItem in menu">
										
										<div class="shopping-item">
											<i class="fa fa-times fa-1x" ng-show="editing"></i>
											<i class="fa fa-pencil fa-1x" ng-show="editing"></i>
											
											<img class="img-responsive" src="img/shopping/shop1.jpg" alt=""/>
											
											<h4><a href="item-single.html">{{singleItem.productName}}</a></h4>
											<span class="item-price">NT&#36;{{singleItem.price}}</span>
											<div class="clearfix"></div>
											
											<p>{{singleItem.description}}</p>
											
											<div class="visible-xs">
												<a class="btn btn-danger btn-sm" href="#">Buy Now</a>
											</div>
											
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										
										<div class="add shopping-item">
													
										</div>
									</div>
	
								</div>
								
							</div>

						</div>
					</div>
				</div>
				
				<!-- Checkout End -->
			</div>