			<div class="inner-page padd">
			
				<!-- Inner page menu start -->
				<div class="inner-menu">
					<div class="container">
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<!-- Inner page menu list -->
								<div class="menu-list">
									<!-- Menu item heading -->
									<h3>Drinks</h3>
									<!-- Image for menu list -->
									<img class="img-responsive" src="img/menu/beans-in-a-cup.jpg" alt="" />
									<!-- Menu list items -->
									<div class="menu-list-item" onclick="Print(0)">
										<!-- Heading / Dish name -->
										<a href="#" class="btn btn-danger btn-sm" >COFFEE</a>
										<!-- Dish price -->
										<span class="price pull-right"></span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item" onclick="Print(1)">
										<!-- Heading / Dish name -->
										<a href="#" class="btn btn-danger btn-sm" >TAYLORS TEA</a>
										<!-- Dish price -->
										<span class="price pull-right"></span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item" onclick="Print(2)">
										<!-- Heading / Dish name -->
										<a href="#" class="btn btn-danger btn-sm" >FRUIT TEA</a>
										<!-- Dish price -->
										<span class="price pull-right"></span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item" onclick="Print(3)">
										<!-- Heading / Dish name -->
										<a href="#" class="btn btn-danger btn-sm" >FRAPPE</a>
										<!-- Dish price -->
										<span class="price pull-right"></span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item " onclick="Print(4)" >
										<!-- Heading / Dish name -->
										<a href="#" class="btn btn-danger btn-sm" >TEA</a>
										<!-- Dish price -->
										<span class="price pull-right"></span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item border-zero" onclick="Print(5)" >
										<!-- Heading / Dish name -->
										<a href="#" class="btn btn-danger btn-sm" >OTHERS</a>
										<!-- Dish price -->
										<span class="price pull-right"></span>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- Inner page menu list -->
								<div class="menu-list" id = "0" style="display:block">
									<!-- Menu item heading -->
									<h3>COFFEE</h3>
									<!-- Image for menu list 
									<img class="img-responsive" src="img/menu/menu2.jpg" alt="" />-->
									<!-- Menu list items -->
									
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left"></h4>
										<!-- Dish price -->
										<span class="price pull-right"></span>
										<div class="clearfix"></div>
									</div>
									
								</div>


								<div class="menu-list" id = "1" style="display:none">
									<!-- Menu item heading -->
									<h3>TAYLORS TEA</h3>
									
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left"></h4>
										<!-- Dish price -->
										<span class="price pull-right"></span>
										<div class="clearfix"></div>
									</div>
									
									
									
								</div>

								

								
							</div>
				
			
					
							


						</div>
					</div>
				</div>
		<script type="text/javascript" language="javascript">


			function HideContent(d) {
			document.getElementById(d).style.display = "none";
			}
			function ShowContent(d) {
			document.getElementById(d).style.display = "block";
			}
			function ReverseDisplay(d) {
			if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
			else { document.getElementById(d).style.display = "none"; }
			}
			function Print(d){
				for (var i = 0; i < 6; i++){
					if (i==d){
						document.getElementById(i).style.display = "block";
					}
				else {
					document.getElementById(i).style.display = "none";
				}
			}
			
		}

			


		</script>